<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form method="post">

        <% if(err) { %>
            <p>Username or Password incorrect!</p>
        <% } %>

        Username: <br/>
        <input type="text" name="username"/>

        <br/>

        Password: <br/>
        <input type="password" name="password"/>

        <hr/>

        <input type="submit" value="Login!"/>
    </form>

</body>
</html>
